In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
columns=["A","B","C"], 
index=["x","y","z"])

In [51]:
df.nunique() # How many unique values are there?

A    3
B    3
C    3
dtype: int64

In [52]:
df.isnull().sum() # How many missing values are there?

A    0
B    0
C    0
dtype: int64

In [53]:
df.duplicated().sum() # How many duplicate rows are there?

np.int64(0)

In [54]:
df['A'].unique() # unique values in column A

array([1, 4, 7])

In [55]:
df.shape # shape of the dataframe

(3, 3)

### Coffee DF

In [56]:
cdf = pd.read_csv('index_1.csv')
cdf2 = pd.read_csv('index_2.csv')

In [57]:
cdf.head(1)

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte

In [58]:
#pd.merge(cdf, cdf2, on='date', how='inner')
cdfs =pd.concat([cdf, cdf2], axis=0)
# axis 1 means columns
# axis 0 means rows

In [59]:
cdfs['date'] = pd.to_datetime(cdfs['date'])

In [60]:
cdfs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3898 entries, 0 to 261
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3898 non-null   datetime64[ns]
 1   datetime     3898 non-null   object
 2   cash_type    3898 non-null   object
 3   card         3547 non-null   object
 4   money        3898 non-null   float64
 5   coffee_name  3898 non-null   object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 213.2+ KB

In [61]:
cdfs['time'] = cdfs['datetime'].str.split(' ').str[1]

In [62]:
cdfs['ztime'] = cdfs['time'].str.split('.').str[0]

In [63]:
cdfs.info()
cdfs.iloc[:,5:7]

<class 'pandas.core.frame.DataFrame'>
Index: 3898 entries, 0 to 261
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3898 non-null   datetime64[ns]
 1   datetime     3898 non-null   object
 2   cash_type    3898 non-null   object
 3   card         3547 non-null   object
 4   money        3898 non-null   float64
 5   coffee_name  3898 non-null   object
 6   time         3898 non-null   object
 7   ztime        3898 non-null   object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 274.1+ KB

                    coffee_name          time
0                         Latte  10:15:50.520
1                 Hot Chocolate  12:19:22.539
2                 Hot Chocolate  12:20:18.089
3                     Americano  13:46:33.006
4                         Latte  13:48:14.626
..                          ...           ...
257                  Cappuccino      14:55:46
258               Irish whiskey      15:15:36
259             Super chocolate      17:59:25
260  Vanilla with Irish whiskey      18:01:33
261   Coffee with Irish whiskey      21:23:11

[3898 rows x 2 columns]

In [64]:
cdfs.drop('datetime', axis=1, inplace=True)
#cdfs.drop('htime', axis=1, inplace=True)
cdfs.drop('time', axis=1, inplace=True)

In [65]:
cdfst = cdfs['ztime']
cdfs.insert(1,'htime',cdfst)

In [66]:
cdfs.drop('ztime', axis=1, inplace=True)

In [67]:
cdfs.sample(2, random_state=3) 
#random sample from the data frame

,date,htime,cash_type,card,money,coffee_name
20,2025-02-09,18:01:22,card,NaN,33.00,Latte
2713,2025-01-04,16:12:55,card,ANON-0000-0000-1034,30.86,Americano with Milk

In [68]:
cdfs.loc[:,'date':'card'] #Rows,Columns

          date     htime cash_type                 card
0   2024-03-01  10:15:50      card  ANON-0000-0000-0001
1   2024-03-01  12:19:22      card  ANON-0000-0000-0002
2   2024-03-01  12:20:18      card  ANON-0000-0000-0002
3   2024-03-01  13:46:33      card  ANON-0000-0000-0003
4   2024-03-01  13:48:14      card  ANON-0000-0000-0004
..         ...       ...       ...                  ...
257 2025-03-23  14:55:46      cash                  NaN
258 2025-03-23  15:15:36      card                  NaN
259 2025-03-23  17:59:25      card                  NaN
260 2025-03-23  18:01:33      card                  NaN
261 2025-03-23  21:23:11      card                  NaN

[3898 rows x 4 columns]

In [69]:
cdfs.loc[:,['date','money','cash_type']].groupby(
    ['date','cash_type']).sum()

                       money
date       cash_type
2024-03-01 card       396.30
2024-03-02 card       188.10
           cash        40.00
2024-03-03 card       309.10
           cash        40.00
...                      ...
2025-03-21 card       741.80
2025-03-22 card       566.42
           cash        47.00
2025-03-23 card       314.76
           cash       105.00

[470 rows x 1 columns]

In [70]:
cdfs.loc[:,['coffee_name','money']].groupby(
    'coffee_name').agg(
        {'money':'sum','coffee_name':'count'})

                               money  coffee_name
coffee_name
Americano                   15437.26          593
Americano with Milk         25269.12          824
Americano with milk          1100.00           44
Cappuccino                  18514.14          517
Caramel                        22.00            1
Caramel coffee                 56.00            2
Caramel with Irish whiskey    224.00            8
Caramel with chocolate        112.00            4
Caramel with milk              75.00            3
Chocolate                      25.00            1
Chocolate with coffee         150.00            5
Chocolate with milk           324.00           12
Cocoa                        8678.16          243
Coffee with Irish whiskey     464.00           16
Coffee with chocolate          28.00            1
Cortado                      7534.86          292
Double Irish whiskey          336.00           12
Double chocolate               25.00            1
Double espresso                27.00            1
Double espresso with milk      64.00            2
Double ristretto               27.00            1
Double vanilla                 47.00            2
Espresso                     3187.28          152
Hot Chocolate               10172.46          282
Hot milkshake                  30.00            1
Irish whiskey                 525.00           21
Irish whiskey with milk       405.00           15
Irish with chocolate          135.00            5
Latte                       28658.30          806
Mochaccino                    150.00            5
Super chocolate               168.00            6
Tea                           240.00           16
Vanilla coffee                 27.00            1
Vanilla with Irish whiskey     84.00            3

In [71]:
cdfs['month'] = cdfs['date'].dt.month

In [72]:
cdfs.index = cdfs['month']
# Resetted index as month

In [73]:
cdfs.loc[3, ['coffee_name', 'money']]
# Give me the coffee_name and money records of the 
# 3rd of the months

                      coffee_name  money
month
3                           Latte   38.7
3                   Hot Chocolate   38.7
3                   Hot Chocolate   38.7
3                       Americano   28.9
3                           Latte   38.7
...                           ...    ...
3                      Cappuccino   30.0
3                   Irish whiskey   25.0
3                 Super chocolate   28.0
3      Vanilla with Irish whiskey   28.0
3       Coffee with Irish whiskey   29.0

[649 rows x 2 columns]

In [74]:
# Get 3 columns at one time with double brackets
cdfs[['coffee_name','money','cash_type']].sample(n=3)

               coffee_name  money cash_type
month
11           Hot Chocolate  35.76      card
1      Americano with Milk  30.86      card
11                   Latte  35.76      card

In [75]:
cdfs[cdfs['coffee_name'].str.contains(
    'Espresso')].sample(1)

,date,htime,cash_type,card,money,coffee_name,month
month,,,,,,,
2,2025-02-22,12:59:41,card,ANON-0000-0000-0095,21.06,Espresso,2

In [76]:
cdfs[cdfs['coffee_name'].str.contains(
    '^A.*o$')].sample(1)

,date,htime,cash_type,card,money,coffee_name,month
month,,,,,,,
2,2025-02-14,17:03:16,card,ANON-0000-0000-1160,25.96,Americano,2

In [77]:
cdfs[cdfs['cash_type'].isin(['card']) & 
(cdfs['coffee_name'].str.contains('Americano')) &
(cdfs['money'] >= 33 ) &
(cdfs['cash_type'] == 'card')
].sample(n=1)

,date,htime,cash_type,card,money,coffee_name,month
month,,,,,,,
3,2024-03-01,19:23:15,card,ANON-0000-0000-0008,33.8,Americano with Milk,3

In [78]:
cdfs.query('coffee_name == "Espresso"'
 and 'cash_type == "card"').sample(n=1)

,date,htime,cash_type,card,money,coffee_name,month
month,,,,,,,
3,2025-03-14,15:54:20,card,ANON-0000-0000-1191,35.76,Latte,3

In [79]:
# New price for cocoa and
# fixed price for other coffees
cdfs['new_price'] = np.where(cdfs['coffee_name'] == 
'Cocoa', 5.99, 50.99)

In [80]:
cdfs.drop('new_price', axis=1, inplace=True)

In [81]:
cdfs = cdfs.reset_index(drop=True)

In [82]:
sorti_col = [('money','sum'),
            ('coffee_name','count')]
order = [True,False]

In [83]:
cdfs_monthly = cdfs.loc[(cdfs['date'].dt.year == 2024) &
(cdfs['date'].dt.month == 5) &
(cdfs['money'] > 1)].groupby('coffee_name').agg(
    {'money': ['sum','median'],
    'coffee_name': 'count'}).sort_values(
        by=sorti_col, ascending=order)
cdfs_monthly.columns = ['_'.join(column).strip() for 
column in cdfs_monthly.columns]
cdfs_monthly

                     money_sum  money_median  coffee_name_count
coffee_name
Espresso                185.14         23.02                  8
Cocoa                   340.76         37.72                  9
Cortado                 474.64         27.92                 17
Hot Chocolate           529.36         37.72                 14
Americano              1348.80         27.92                 48
Americano with Milk    1908.28         32.82                 58
Cappuccino             2078.44         37.72                 55
Latte                  2198.00         37.72                 58

--------------

In [84]:
cdfs.isnull().sum()

date             0
htime            0
cash_type        0
card           351
money            0
coffee_name      0
month            0
dtype: int64

In [85]:
# Creating a mask for NaN values
# axis = 1 for column
# axis = 0 for row
cdfs_nan_mask = cdfs.isna().any(axis=1)
cdfs_nan = cdfs.loc[cdfs_nan_mask]

In [86]:
cdfs_nan.drop('card', axis=1, inplace=True)

/var/folders/b2/qc1xpbnn1wxdq6xmj3kvxxvw0000gn/T/ipykernel_3634/188055965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cdfs_nan.drop('card', axis=1, inplace=True)

In [87]:
# Dividing them into card and cash payments 
cdfs_card = cdfs_nan[cdfs_nan['cash_type'] == 'card']
cdfs_cash = cdfs_nan[cdfs_nan['cash_type'] == 'cash']

In [88]:
cdfs_card.groupby('coffee_name')['money'].agg(
    {'sum', 'median','count'}).sort_values('count', ascending=False)

                              sum  count  median
coffee_name
Americano with milk         700.0     28    25.0
Latte                       660.0     20    33.0
Irish whiskey               400.0     16    25.0
Coffee with Irish whiskey   377.0     13    29.0
Irish whiskey with milk     324.0     12    27.0
Cappuccino                  330.0     11    30.0
Tea                         150.0     10    15.0
Double Irish whiskey        280.0     10    28.0
Espresso                    193.0      9    20.0
Americano                   225.0      9    25.0
Caramel with Irish whiskey  224.0      8    28.0
Chocolate with milk         135.0      5    27.0
Irish with chocolate        135.0      5    27.0
Super chocolate             112.0      4    28.0
Caramel with chocolate      112.0      4    28.0
Chocolate with coffee        90.0      3    30.0
Mochaccino                   60.0      2    30.0
Vanilla with Irish whiskey   56.0      2    28.0
Double espresso with milk    64.0      2    32.0
Caramel with milk            50.0      2    25.0
Caramel coffee               56.0      2    28.0
Hot milkshake                30.0      1    30.0
Double vanilla               27.0      1    27.0
Chocolate                    25.0      1    25.0
Vanilla coffee               27.0      1    27.0
Double ristretto             27.0      1    27.0

In [89]:
cdfs_cash_grouped_year = cdfs_cash.groupby(['coffee_name',
cdfs_cash['date'].dt.year])['money'].agg(['median','sum','count'])
###
cdfs_card_grouped_year = cdfs_card.groupby(['coffee_name',
cdfs_card['date'].dt.year])['money'].agg(['median','sum','count'])

In [90]:
# indexing on groupby objects
cdfs_cash_grouped_year.loc[('Americano',2024),:]

median     29.0
sum       412.0
count      14.0
Name: (Americano, 2024), dtype: float64

In [91]:
cdfs_cash_grouped_month = cdfs_cash.groupby(['coffee_name',
cdfs_cash['date'].dt.month])['money'].agg(['median','sum','count'])
########
cdfs_card_grouped_month = cdfs_card.groupby(['coffee_name',
cdfs_card['date'].dt.month])['money'].agg(['median','sum','count'])

In [92]:
a = cdfs.groupby(['coffee_name', 
cdfs['date'].dt.month, 'money']).agg(
    {'coffee_name': 'count', 'money': 'sum'})

In [93]:
# indexing on groupby objects
a.loc[('Americano',2),:]

       coffee_name    money
money
25.00            7   175.00
25.96          117  3037.32

In [94]:
# First sorting by money then if money is same for different dates,
# sorting by date with ascending order    
cdfs.sort_values(by = ['money','date'], 
ascending=True)

           date     htime cash_type card  money    coffee_name  month
3636 2025-02-08  14:26:04      cash  NaN   15.0            Tea      2
3637 2025-02-08  14:28:26      cash  NaN   15.0            Tea      2
3657 2025-02-09  18:01:22      card  NaN   15.0            Tea      2
3663 2025-02-11  09:49:22      card  NaN   15.0            Tea      2
3683 2025-02-15  15:33:24      card  NaN   15.0            Tea      2
...         ...       ...       ...  ...    ...            ...    ...
264  2024-04-10  17:55:07      cash  NaN   40.0  Hot Chocolate      4
277  2024-04-13  15:06:52      cash  NaN   40.0  Hot Chocolate      4
278  2024-04-13  15:07:55      cash  NaN   40.0  Hot Chocolate      4
283  2024-04-14  10:55:27      cash  NaN   40.0          Latte      4
311  2024-04-17  16:13:24      cash  NaN   40.0     Cappuccino      4

[3898 rows x 7 columns]

In [95]:
cdfs.sort_values(by = ['money','date'], 
ascending=[False, True])
# Money is descending, date is ascending order sorted

           date     htime cash_type card  money    coffee_name  month
12   2024-03-02  10:30:35      cash  NaN   40.0          Latte      3
18   2024-03-03  10:10:43      cash  NaN   40.0          Latte      3
46   2024-03-07  10:08:58      cash  NaN   40.0          Latte      3
49   2024-03-07  11:25:43      cash  NaN   40.0          Latte      3
60   2024-03-09  11:49:37      cash  NaN   40.0  Hot Chocolate      3
...         ...       ...       ...  ...    ...            ...    ...
3756 2025-02-26  12:22:20      card  NaN   15.0            Tea      2
3764 2025-02-27  17:04:29      cash  NaN   15.0            Tea      2
3776 2025-03-01  12:48:46      cash  NaN   15.0            Tea      3
3842 2025-03-15  13:12:26      card  NaN   15.0            Tea      3
3883 2025-03-22  16:59:05      card  NaN   15.0            Tea      3

[3898 rows x 7 columns]

In [96]:
# Iterating over rows by index 
# also can navigate by column name in the loop
for index, row in cdfs.iterrows():
    print(index)
    print(row.iloc[5]) # or row['column_name']
    print("\n")

0
Latte


1
Hot Chocolate


2
Hot Chocolate


3
Americano


4
Latte


5
Americano with Milk


6
Hot Chocolate


7
Americano with Milk


8
Cocoa


9
Americano with Milk


10
Americano with Milk


11
Americano


12
Latte


13
Americano with Milk


14
Americano with Milk


15
Americano


16
Americano with Milk


17
Americano


18
Latte


19
Latte


20
Cortado


21
Americano


22
Hot Chocolate


23
Cocoa


24
Cortado


25
Americano with Milk


26
Americano with Milk


27
Hot Chocolate


28
Latte


29
Latte


30
Americano with Milk


31
Espresso


32
Latte


33
Latte


34
Latte


35
Hot Chocolate


36
Cocoa


37
Hot Chocolate


38
Hot Chocolate


39
Cortado


40
Hot Chocolate


41
Americano with Milk


42
Americano


43
Cortado


44
Cappuccino


45
Cappuccino


46
Latte


47
Hot Chocolate


48
Latte


49
Latte


50
Americano


51
Americano with Milk


52
Cortado


53
Cappuccino


54
Americano


55
Americano


56
Americano


57
Americano with Milk


58
Latte


59
Latte


60
Hot Chocolate


61
Espresso


62
Americano


63
Cappuccino


64
Americano


65
Americano


66
Latte


67
Americano with Milk


68
Cortado


69
Cappuccino


70
Americano with Milk


71
Hot Chocolate


72
Cappuccino


73
Hot Chocolate


74
Americano


75
Americano with Milk


76
Latte


77
Espresso


78
Americano with Milk


79
Latte


80
Cortado


81
Latte


82
Cappuccino


83
Cortado


84
Americano


85
Cappuccino


86
Americano


87
Latte


88
Cortado


89
Latte


90
Americano


91
Cortado


92
Hot Chocolate


93
Americano with Milk


94
Americano


95
Americano


96
Hot Chocolate


97
Americano


98
Americano


99
Americano


100
Espresso


101
Americano with Milk


102
Espresso


103
Espresso


104
Espresso


105
Latte


106
Latte


107
Hot Chocolate


108
Cortado


109
Americano


110
Americano with Milk


111
Espresso


112
Latte


113
Americano with Milk


114
Espresso


115
Hot Chocolate


116
Cortado


117
Latte


118
Hot Chocolate


119
Americano


120
Americano with Milk


121
Americano


122
Cortado


123
Cortado


124
Cortado


125
Americano with Milk


126
Latte


127
Cortado


128
Cortado


129
Americano


130
Americano


131
Americano


132
Cortado


133
Latte


134
Latte


135
Hot Chocolate


136
Americano with Milk


137
Hot Chocolate


138
Cortado


139
Latte


140
Cortado


141
Cappuccino


142
Cocoa


143
Latte


144
Cappuccino


145
Cortado


146
Cappuccino


147
Americano


148
Cortado


149
Latte


150
Americano with Milk


151
Americano with Milk


152
Cappuccino


153
Americano


154
Espresso


155
Americano


156
Latte


157
Americano with Milk


158
Cappuccino


159
Cocoa


160
Americano with Milk


161
Latte


162
Americano with Milk


163
Cortado


164
Latte


165
Latte


166
Latte


167
Americano with Milk


168
Latte


169
Latte


170
Americano with Milk


171
Cappuccino


172
Cocoa


173
Latte


174
Latte


175
Cortado


176
Americano


177
Cortado


178
Cortado


179
Americano


180
Latte


181
Latte


182
Hot Chocolate


183
Cortado


184
Americano with Milk


185
Americano with Milk


186
Hot Chocolate


187
Cappuccino


188
Americano


189
Cortado


190
Latte


191
Cortado


192
Cortado


193
Americano


194
Latte


195
Latte


196
Cappuccino


197
Cappuccino


198
Cappuccino


199
Latte


200
Cappuccino


201
Latte


202
Latte


203
Americano with Milk


204
Cappuccino


205
Americano


206
Americano


207
Americano with Milk


208
Americano with Milk


209
Americano with Milk


210
Cappuccino


211
Americano with Milk


212
Hot Chocolate


213
Latte


214
Americano


215
Cortado


216
Cappuccino


217
Cortado


218
Americano


219
Cappuccino


220
Cortado


221
Latte


222
Latte


223
Cappuccino


224
Cortado


225
Latte


226
Americano


227
Americano


228
Cortado


229
Americano with Milk


230
Latte


231
Cortado


232
Latte


233
Cappuccino


234
Americano


235
Cocoa


236
Espresso


237
Americano with Milk


238
Cappuccino


239
Americano


240
Latte


241
Latte


242
Cappuccino


243
Cappuccino


244
Cortado


245
Espresso


246
Hot Chocolate


247
Americano with Milk


248
Americano with Milk


249
Cappuccino


250
Americano


251
Cappuccino


252
Espresso


253
Americano with Milk


254
Latte


255
Americano


256
Americano with Milk


257
Cappuccino


258
Cappuccino


259
Americano


260
Latte


261
Hot Chocolate


262
Hot Chocolate


263
Espresso


264
Hot Chocolate


265
Espresso


266
Cappuccino


267
Latte


268
Americano


269
Americano


270
Latte


271
Cappuccino


272
Americano with Milk


273
Hot Chocolate


274
Cortado


275
Latte


276
Americano


277
Hot Chocolate


278
Hot Chocolate


279
Cappuccino


280
Latte


281
Cappuccino


282
Cappuccino


283
Latte


284
Cappuccino


285
Cortado


286
Cortado


287
Americano with Milk


288
Cortado


289
Americano


290
Americano


291
Americano


292
Cappuccino


293
Cortado


294
Latte


295
Cappuccino


296
Americano


297
Americano


298
Americano with Milk


299
Americano with Milk


300
Espresso


301
Americano with Milk


302
Americano with Milk


303
Cocoa


304
Cortado


305
Americano


306
Americano with Milk


307
Cappuccino


308
Cocoa


309
Americano


310
Espresso


311
Cappuccino


312
Cappuccino


313
Cappuccino


314
Cortado


315
Americano


316
Americano


317
Americano with Milk


318
Cortado


319
Cappuccino


320
Latte


321
Latte


322
Cappuccino


323
Hot Chocolate


324
Hot Chocolate


325
Latte


326
Americano with Milk


327
Cappuccino


328
Hot Chocolate


329
Cappuccino


330
Cocoa


331
Americano with Milk


332
Americano with Milk


333
Americano with Milk


334
Americano with Milk


335
Americano


336
Americano with Milk


337
Hot Chocolate


338
Cappuccino


339
Americano with Milk


340
Americano with Milk


341
Americano with Milk


342
Cocoa


343
Cappuccino


344
Cappuccino


345
Latte


346
Latte


347
Americano


348
Cappuccino


349
Americano


350
Americano with Milk


351
Latte


352
Latte


353
Cappuccino


354
Cappuccino


355
Americano with Milk


356
Cappuccino


357
Americano with Milk


358
Americano with Milk


359
Latte


360
Americano with Milk


361
Americano with Milk


362
Americano with Milk


363
Americano with Milk


364
Americano with Milk


365
Americano with Milk


366
Cappuccino


367
Americano


368
Latte


369
Americano


370
Americano


371
Latte


372
Latte


373
Cappuccino


374
Americano


375
Americano


376
Cortado


377
Americano


378
Hot Chocolate


379
Cocoa


380
Cappuccino


381
Latte


382
Cappuccino


383
Americano


384
Americano


385
Latte


386
Cortado


387
Americano


388
Cortado


389
Cortado


390
Americano with Milk


391
Cappuccino


392
Cappuccino


393
Cappuccino


394
Latte


395
Americano with Milk


396
Americano with Milk


397
Americano


398
Americano with Milk


399
Cappuccino


400
Americano with Milk


401
Latte


402
Americano


403
Latte


404
Americano with Milk


405
Cappuccino


406
Americano with Milk


407
Latte


408
Cappuccino


409
Latte


410
Latte


411
Latte


412
Americano


413
Cappuccino


414
Americano with Milk


415
Americano


416
Cortado


417
Americano


418
Cortado


419
Americano


420
Cappuccino


421
Cappuccino


422
Cocoa


423
Cortado


424
Cortado


425
Cocoa


426
Americano


427
Cappuccino


428
Latte


429
Americano with Milk


430
Cappuccino


431
Cappuccino


432
Latte


433
Cappuccino


434
Americano


435
Latte


436
Latte


437
Latte


438
Americano


439
Americano


440
Americano


441
Americano with Milk


442
Latte


443
Latte


444
Latte


445
Americano with Milk


446
Latte


447
Latte


448
Americano with Milk


449
Cocoa


450
Cappuccino


451
Americano with Milk


452
Cappuccino


453
Latte


454
Latte


455
Latte


456
Americano


457
Latte


458
Americano with Milk


459
Americano with Milk


460
Americano with Milk


461
Americano with Milk


462
Americano with Milk


463
Americano


464
Americano


465
Americano


466
Americano


467
Americano


468
Cappuccino


469
Latte


470
Cappuccino


471
Cappuccino


472
Americano with Milk


473
Americano


474
Americano with Milk


475
Cappuccino


476
Hot Chocolate


477
Latte


478
Espresso


479
Americano


480
Americano


481
Americano


482
Americano


483
Americano with Milk


484
Americano


485
Cortado


486
Cortado


487
Espresso


488
Cappuccino


489
Americano with Milk


490
Americano with Milk


491
Latte


492
Cappuccino


493
Americano with Milk


494
Hot Chocolate


495
Latte


496
Hot Chocolate


497
Latte


498
Americano


499
Americano with Milk


500
Americano with Milk


501
Americano with Milk


502
Cappuccino


503
Cappuccino


504
Americano


505
Latte


506
Latte


507
Cappuccino


508
Cappuccino


509
Americano with Milk


510
Americano with Milk


511
Americano with Milk


512
Americano with Milk


513
Latte


514
Cappuccino


515
Americano


516
Americano


517
Cappuccino


518
Espresso


519
Americano with Milk


520
Americano


521
Americano with Milk


522
Americano with Milk


523
Espresso


524
Hot Chocolate


525
Cappuccino


526
Cappuccino


527
Cappuccino


528
Americano with Milk


529
Latte


530
Latte


531
Americano


532
Americano


533
Americano


534
Americano


535
Americano with Milk


536
Cappuccino


537
Americano


538
Latte


539
Latte


540
Americano with Milk


541
Cocoa


542
Cortado


543
Americano with Milk


544
Americano with Milk


545
Latte


546
Americano


547
Americano with Milk


548
Cocoa


549
Latte


550
Latte


551
Espresso


552
Cappuccino


553
Cappuccino


554
Cappuccino


555
Americano with Milk


556
Cortado


557
Americano with Milk


558
Americano


559
Americano


560
Americano with Milk


561
Cappuccino


562
Cappuccino


563
Hot Chocolate


564
Cappuccino


565
Cappuccino


566
Espresso


567
Cappuccino


568
Cappuccino


569
Cappuccino


570
Latte


571
Cappuccino


572
Latte


573
Cortado


574
Cappuccino


575
Cappuccino


576
Cappuccino


577
Cappuccino


578
Latte


579
Americano with Milk


580
Hot Chocolate


581
Cortado


582
Americano


583
Americano


584
Hot Chocolate


585
Cortado


586
Cortado


587
Americano with Milk


588
Americano


589
Latte


590
Americano


591
Americano with Milk


592
Americano with Milk


593
Americano with Milk


594
Americano with Milk


595
Americano


596
Latte


597
Americano with Milk


598
Cortado


599
Americano with Milk


600
Cappuccino


601
Hot Chocolate


602
Hot Chocolate


603
Americano


604
Latte


605
Hot Chocolate


606
Cappuccino


607
Cortado


608
Cappuccino


609
Latte


610
Cappuccino


611
Americano


612
Americano with Milk


613
Cocoa


614
Americano


615
Americano


616
Latte


617
Americano


618
Latte


619
Latte


620
Americano with Milk


621
Cappuccino


622
Americano with Milk


623
Americano with Milk


624
Cappuccino


625
Cappuccino


626
Cocoa


627
Cortado


628
Cappuccino


629
Americano


630
Latte


631
Americano with Milk


632
Americano


633
Latte


634
Latte


635
Hot Chocolate


636
Americano


637
Latte


638
Cappuccino


639
Latte


640
Cortado


641
Latte


642
Hot Chocolate


643
Cocoa


644
Cappuccino


645
Latte


646
Americano with Milk


647
Latte


648
Americano with Milk


649
Espresso


650
Espresso


651
Cappuccino


652
Latte


653
Hot Chocolate


654
Americano with Milk


655
Americano with Milk


656
Latte


657
Latte


658
Hot Chocolate


659
Cocoa


660
Americano with Milk


661
Latte


662
Latte


663
Cappuccino


664
Americano with Milk


665
Latte


666
Cappuccino


667
Americano with Milk


668
Cortado


669
Cortado


670
Latte


671
Latte


672
Americano with Milk


673
Americano with Milk


674
Americano with Milk


675
Cappuccino


676
Cappuccino


677
Cocoa


678
Cocoa


679
Americano with Milk


680
Latte


681
Americano with Milk


682
Cappuccino


683
Americano with Milk


684
Latte


685
Americano with Milk


686
Latte


687
Latte


688
Cappuccino


689
Americano with Milk


690
Latte


691
Americano with Milk


692
Americano with Milk


693
Cortado


694
Americano with Milk


695
Latte


696
Hot Chocolate


697
Latte


698
Cortado


699
Cappuccino


700
Hot Chocolate


701
Cappuccino


702
Cortado


703
Americano with Milk


704
Americano with Milk


705
Americano with Milk


706
Americano with Milk


707
Cappuccino


708
Cappuccino


709
Americano


710
Latte


711
Americano with Milk


712
Americano with Milk


713
Latte


714
Cocoa


715
Cortado


716
Americano with Milk


717
Americano with Milk


718
Latte


719
Americano


720
Americano with Milk


721
Cappuccino


722
Latte


723
Latte


724
Cappuccino


725
Americano with Milk


726
Latte


727
Cappuccino


728
Espresso


729
Americano with Milk


730
Cortado


731
Cortado


732
Cortado


733
Americano with Milk


734
Cappuccino


735
Cappuccino


736
Latte


737
Latte


738
Cappuccino


739
Cortado


740
Espresso


741
Cappuccino


742
Americano with Milk


743
Latte


744
Latte


745
Cortado


746
Cappuccino


747
Americano with Milk


748
Americano


749
Cappuccino


750
Latte


751
Hot Chocolate


752
Hot Chocolate


753
Latte


754
Latte


755
Americano with Milk


756
Latte


757
Latte


758
Hot Chocolate


759
Americano with Milk


760
Americano with Milk


761
Hot Chocolate


762
Cappuccino


763
Latte


764
Latte


765
Hot Chocolate


766
Americano with Milk


767
Americano


768
Latte


769
Americano with Milk


770
Cortado


771
Americano with Milk


772
Hot Chocolate


773
Latte


774
Americano with Milk


775
Espresso


776
Espresso


777
Americano with Milk


778
Americano with Milk


779
Cortado


780
Americano


781
Latte


782
Americano with Milk


783
Cappuccino


784
Latte


785
Americano with Milk


786
Espresso


787
Cocoa


788
Americano with Milk


789
Americano with Milk


790
Americano


791
Americano with Milk


792
Latte


793
Hot Chocolate


794
Hot Chocolate


795
Americano with Milk


796
Espresso


797
Americano with Milk


798
Americano with Milk


799
Hot Chocolate


800
Hot Chocolate


801
Americano with Milk


802
Americano with Milk


803
Americano


804
Cortado


805
Cortado


806
Cappuccino


807
Cappuccino


808
Cappuccino


809
Cappuccino


810
Americano


811
Americano


812
Americano with Milk


813
Americano


814
Cappuccino


815
Cappuccino


816
Cappuccino


817
Cortado


818
Americano with Milk


819
Americano with Milk


820
Latte


821
Cortado


822
Americano


823
Latte


824
Cocoa


825
Americano with Milk


826
Cappuccino


827
Latte


828
Americano with Milk


829
Cappuccino


830
Americano with Milk


831
Latte


832
Latte


833
Latte


834
Latte


835
Latte


836
Americano with Milk


837
Latte


838
Americano


839
Americano with Milk


840
Americano with Milk


841
Espresso


842
Latte


843
Cappuccino


844
Cappuccino


845
Cappuccino


846
Cappuccino


847
Americano


848
Americano with Milk


849
Cortado


850
Americano with Milk


851
Americano with Milk


852
Latte


853
Cappuccino


854
Americano with Milk


855
Americano with Milk


856
Cappuccino


857
Latte


858
Cappuccino


859
Americano with Milk


860
Cappuccino


861
Cappuccino


862
Latte


863
Cappuccino


864
Cappuccino


865
Latte


866
Americano with Milk


867
Americano with Milk


868
Cappuccino


869
Latte


870
Espresso


871
Americano


872
Latte


873
Cappuccino


874
Americano with Milk


875
Americano with Milk


876
Cortado


877
Americano with Milk


878
Cappuccino


879
Cortado


880
Espresso


881
Americano with Milk


882
Latte


883
Cappuccino


884
Americano with Milk


885
Americano with Milk


886
Americano with Milk


887
Cappuccino


888
Cappuccino


889
Cappuccino


890
Hot Chocolate


891
Latte


892
Latte


893
Espresso


894
Hot Chocolate


895
Americano with Milk


896
Espresso


897
Cappuccino


898
Cappuccino


899
Americano with Milk


900
Americano


901
Latte


902
Americano


903
Americano with Milk


904
Americano with Milk


905
Americano with Milk


906
Cappuccino


907
Cappuccino


908
Americano with Milk


909
Americano with Milk


910
Latte


911
Espresso


912
Cappuccino


913
Latte


914
Americano with Milk


915
Americano


916
Cocoa


917
Americano with Milk


918
Americano with Milk


919
Espresso


920
Americano


921
Espresso


922
Americano


923
Americano


924
Cappuccino


925
Americano with Milk


926
Latte


927
Latte


928
Latte


929
Latte


930
Americano with Milk


931
Cappuccino


932
Americano with Milk


933
Americano with Milk


934
Cappuccino


935
Cappuccino


936
Hot Chocolate


937
Cocoa


938
Latte


939
Cappuccino


940
Hot Chocolate


941
Americano with Milk


942
Latte


943
Americano


944
Americano


945
Americano with Milk


946
Latte


947
Americano with Milk


948
Americano with Milk


949
Americano with Milk


950
Cappuccino


951
Americano with Milk


952
Americano


953
Americano with Milk


954
Latte


955
Hot Chocolate


956
Americano with Milk


957
Latte


958
Americano


959
Cortado


960
Hot Chocolate


961
Hot Chocolate


962
Hot Chocolate


963
Hot Chocolate


964
Latte


965
Latte


966
Americano


967
Americano with Milk


968
Cappuccino


969
Latte


970
Americano


971
Latte


972
Cappuccino


973
Americano with Milk


974
Hot Chocolate


975
Americano with Milk


976
Americano with Milk


977
Espresso


978
Americano


979
Americano


980
Cortado


981
Latte


982
Cappuccino


983
Latte


984
Hot Chocolate


985
Latte


986
Latte


987
Americano


988
Americano with Milk


989
Latte


990
Americano with Milk


991
Latte


992
Cocoa


993
Latte


994
Latte


995
Americano


996
Latte


997
Americano


998
Latte


999
Latte


1000
Americano


1001
Latte


1002
Cocoa


1003
Cappuccino


1004
Cortado


1005
Latte


1006
Americano


1007
Americano


1008
Americano with Milk


1009
Latte


1010
Latte


1011
Americano


1012
Americano with Milk


1013
Cocoa


1014
Latte


1015
Americano


1016
Americano with Milk


1017
Americano with Milk


1018
Latte


1019
Latte


1020
Americano


1021
Americano


1022
Americano with Milk


1023
Americano with Milk


1024
Espresso


1025
Cappuccino


1026
Latte


1027
Espresso


1028
Latte


1029
Cappuccino


1030
Cappuccino


1031
Americano with Milk


1032
Americano


1033
Americano


1034
Americano


1035
Latte


1036
Americano with Milk


1037
Americano


1038
Cappuccino


1039
Cappuccino


1040
Cortado


1041
Espresso


1042
Cortado


1043
Cocoa


1044
Latte


1045
Americano with Milk


1046
Espresso


1047
Cortado


1048
Cortado


1049
Latte


1050
Latte


1051
Americano with Milk


1052
Americano with Milk


1053
Cappuccino


1054
Cappuccino


1055
Latte


1056
Americano


1057
Cappuccino


1058
Latte


1059
Americano with Milk


1060
Cappuccino


1061
Americano with Milk


1062
Americano with Milk


1063
Espresso


1064
Americano with Milk


1065
Espresso


1066
Latte


1067
Cappuccino


1068
Cappuccino


1069
Americano with Milk


1070
Americano with Milk


1071
Latte


1072
Cappuccino


1073
Espresso


1074
Americano with Milk


1075
Latte


1076
Latte


1077
Americano


1078
Americano with Milk


1079
Americano


1080
Americano with Milk


1081
Cappuccino


1082
Hot Chocolate


1083
Hot Chocolate


1084
Cappuccino


1085
Americano


1086
Cocoa


1087
Americano with Milk


1088
Cortado


1089
Cappuccino


1090
Americano with Milk


1091
Cortado


1092
Americano with Milk


1093
Latte


1094
Americano


1095
Espresso


1096
Americano with Milk


1097
Americano with Milk


1098
Americano with Milk


1099
Americano with Milk


1100
Latte


1101
Americano with Milk


1102
Cortado


1103
Americano with Milk


1104
Espresso


1105
Americano with Milk


1106
Americano with Milk


1107
Americano with Milk


1108
Latte


1109
Americano


1110
Cappuccino


1111
Americano with Milk


1112
Americano with Milk


1113
Americano with Milk


1114
Americano


1115
Americano


1116
Americano with Milk


1117
Cocoa


1118
Latte


1119
Americano with Milk


1120
Cortado


1121
Latte


1122
Cortado


1123
Latte


1124
Cocoa


1125
Cortado


1126
Latte


1127
Cappuccino


1128
Cortado


1129
Americano with Milk


1130
Latte


1131
Latte


1132
Latte


1133
Americano with Milk


1134

In [97]:
sort_col = [('money', 'sum'), 
            ('coffee_name', 'count')]
sort_or = [True, False]

cdfs_table = cdfs.loc[(cdfs['money'] > 38) & 
(cdfs['month'] == 3), :].groupby('coffee_name').agg(
    {'money': ['sum','median'], 'coffee_name': 'count'}
).sort_values(by=sort_col, ascending=sort_or)

cdfs_table.columns = ['_'.join(
    col).strip() for col in cdfs_table.columns]

cdfs_table.reset_index(inplace=True)

    #BARAN BU NE MK

# Orders that cost more than 38$ and were made in March
# Grouped by coffee name and sorted by sum and count

In [98]:
#cdfs_table = cdfs_table.reset_index()
cdfs_table

     coffee_name  money_sum  money_median  coffee_name_count
0          Cocoa      232.2          38.7                  6
1     Cappuccino      780.5          38.7                 20
2  Hot Chocolate      854.0          38.7                 22
3          Latte     1874.5          38.7                 48

In [99]:
# Filtering on groupby object
cdfs_table[cdfs_table['coffee_name'] == 'Cappuccino']

  coffee_name  money_sum  money_median  coffee_name_count
1  Cappuccino      780.5          38.7                 20

----------

##### Splitting the columns inside

In [100]:
cdfs_new = cdfs.copy()

In [101]:
# Taking the first name of the coffee name column
# If we want to take the second name, we can use str[1]
cdfs_new['f_name'] = cdfs[
    'coffee_name'].str.split(' ').str[0]

cdfs_new[['f_name','money']]

          f_name  money
0          Latte   38.7
1            Hot   38.7
2            Hot   38.7
3      Americano   28.9
4          Latte   38.7
...          ...    ...
3893  Cappuccino   30.0
3894       Irish   25.0
3895       Super   28.0
3896     Vanilla   28.0
3897      Coffee   29.0

[3898 rows x 2 columns]

In [102]:
# If we want to save the data to a csv file
# Index = False will not add another index column while saving IMPORTANT
cdfs_new.to_csv("cdfs_new.csv", index=False)

#### Adding/Removing Columns

In [103]:
cdfs['section'] = cdfs['money'].apply(lambda x: 'cheap' if x < 19.99 else (
    'normal' if x < 29.99 else 'expensive'))

In [104]:
cdfs['section'].value_counts()

section
expensive    2475
normal       1371
cheap          52
Name: count, dtype: int64

In [105]:
# We can also create function

def typeof_customer(row):
    if row['cash_type'] == 'card' and row ['money'] > 29.99:
        return 'rich'
    elif row['cash_type'] == 'card' and row ['money'] > 19.99:
        return 'middle class'
    else:
        return 'poor'

cdfs['typeof_customer'] = cdfs.apply(typeof_customer, axis=1)
cdfs.groupby('typeof_customer').count()

,date,htime,cash_type,card,money,coffee_name,month,section
typeof_customer,,,,,,,,
middle class,1298,1298,1298,1166,1298,1298,1298,1298
poor,215,215,215,36,215,215,215,215
rich,2385,2385,2385,2345,2385,2385,2385,2385

In [106]:
# MORE EFFICIENT WAY! 

conditions = [
    (cdfs['cash_type'] == 'card') & (cdfs['money'] > 29.99),
    (cdfs['cash_type'] == 'card') & (cdfs['money'] > 10.99),
]

choices = ["rich", "middle class"]

cdfs['typeof_customer'] = np.select(
    conditions,
    choices,
    default="poor"
    )

In [107]:
# Preparing for ML Ops - Encoding

type_number = {
    'poor' : 1,
    'middle class' : 2,
    'rich' : 3
}

cdfs['typeof_customer'] = cdfs['typeof_customer'].map(type_number)
cdfs[['coffee_name','money','typeof_customer']]

                     coffee_name  money  typeof_customer
0                          Latte   38.7                3
1                  Hot Chocolate   38.7                3
2                  Hot Chocolate   38.7                3
3                      Americano   28.9                2
4                          Latte   38.7                3
...                          ...    ...              ...
3893                  Cappuccino   30.0                1
3894               Irish whiskey   25.0                2
3895             Super chocolate   28.0                2
3896  Vanilla with Irish whiskey   28.0                2
3897   Coffee with Irish whiskey   29.0                2

[3898 rows x 3 columns]

In [108]:
cdfs['milk'] = np.where(cdfs['coffee_name'].str.contains('with milk'), 'yes','no')

In [109]:
cdfs[cdfs['milk'] == 'yes'].groupby('section').agg({
    'money': 'sum','coffee_name':'count'})

            money  coffee_name
section
expensive    64.0            2
normal     1904.0           74

In [110]:
cdfs[(cdfs['milk'] == 'no') &
(cdfs['section'] == 'expensive') |
(cdfs['section'] == 'cheap')].groupby(cdfs['coffee_name'])[
    ['money','milk']].agg({'money':'sum'})

                          money
coffee_name
Americano                180.00
Americano with Milk    19070.88
Cappuccino             18514.14
Chocolate with coffee    150.00
Cocoa                   8678.16
Cortado                  150.00
Espresso                 685.32
Hot Chocolate          10172.46
Hot milkshake             30.00
Latte                  28658.30
Mochaccino               150.00
Tea                      240.00

-----------

#### Merge/Join/Concat

In [111]:
data_rezervasyon = {
    'rezervasyon_id': [1, 2, 3, 4],
    'musteri_id': [101, 102, 103, 101], # 101 tekrar ediyor, 103 sadece burada var
    'otel_tipi': ['City', 'Resort', 'City', 'Resort'],
    'adr': [120.5, 95.0, 150.0, 110.0]
}

df_rezervasyon = pd.DataFrame(data_rezervasyon)

# --- Veri Seti 2: Müşteri Profili (Sağ Tablo) ---
# Müşteriye ait genel bilgiler (Bu bilgiler rezervasyonda yok).
data_profil = {
    'musteri_id': [101, 102, 104, 105], # 104 ve 105 sadece burada var
    'ulke': ['TR', 'DE', 'FR', 'TR'],
    'sadakat_seviyesi': ['Gold', 'Silver', 'Bronze', 'Gold']
}

df_musteri_profil = pd.DataFrame(data_profil)

In [112]:
pd.merge(
    df_rezervasyon, df_musteri_profil,
    left_on = 'musteri_id', 
    right_on = 'musteri_id', 
    how = 'inner')

   rezervasyon_id  musteri_id otel_tipi    adr ulke sadakat_seviyesi
0               1         101      City  120.5   TR             Gold
1               2         102    Resort   95.0   DE           Silver
2               4         101    Resort  110.0   TR             Gold

----------------

In [113]:
pd.merge(
    df_rezervasyon, df_musteri_profil,
    left_on = 'musteri_id', 
    right_on = 'musteri_id', 
    how = 'outer')

   rezervasyon_id  musteri_id otel_tipi    adr ulke sadakat_seviyesi
0             1.0         101      City  120.5   TR             Gold
1             4.0         101    Resort  110.0   TR             Gold
2             2.0         102    Resort   95.0   DE           Silver
3             3.0         103      City  150.0  NaN              NaN
4             NaN         104       NaN    NaN   FR           Bronze
5             NaN         105       NaN    NaN   TR             Gold

In [114]:
# Everything on the LEFT DF and INNER of RIGHT DF
pd.merge(
    df_rezervasyon, df_musteri_profil,
    left_on = 'musteri_id', 
    right_on = 'musteri_id', 
    how = 'left')

   rezervasyon_id  musteri_id otel_tipi    adr ulke sadakat_seviyesi
0               1         101      City  120.5   TR             Gold
1               2         102    Resort   95.0   DE           Silver
2               3         103      City  150.0  NaN              NaN
3               4         101    Resort  110.0   TR             Gold

In [115]:
# Everything on the RIGHT DF and INNER with according to RIGHT and LEFT DF

pd.merge(
    df_rezervasyon, df_musteri_profil,
    left_on = 'musteri_id', 
    right_on = 'musteri_id', 
    how = 'right')

   rezervasyon_id  musteri_id otel_tipi    adr ulke sadakat_seviyesi
0             1.0         101      City  120.5   TR             Gold
1             4.0         101    Resort  110.0   TR             Gold
2             2.0         102    Resort   95.0   DE           Silver
3             NaN         104       NaN    NaN   FR           Bronze
4             NaN         105       NaN    NaN   TR             Gold

In [116]:
# Joining on INDEXES is better than JOINING on COLUMNS
df_rezervasyon.set_index('musteri_id').join(
    df_musteri_profil.set_index('musteri_id'), 
    lsuffix='_rezervasyon', 
    rsuffix='_musteri', 
    how='outer'
)

            rezervasyon_id otel_tipi    adr ulke sadakat_seviyesi
musteri_id
101                    1.0      City  120.5   TR             Gold
101                    4.0    Resort  110.0   TR             Gold
102                    2.0    Resort   95.0   DE           Silver
103                    3.0      City  150.0  NaN              NaN
104                    NaN       NaN    NaN   FR           Bronze
105                    NaN       NaN    NaN   TR             Gold

In [117]:
pd.concat([df_rezervasyon,df_musteri_profil], axis=0, join='outer')

   rezervasyon_id  musteri_id otel_tipi    adr ulke sadakat_seviyesi
0             1.0         101      City  120.5  NaN              NaN
1             2.0         102    Resort   95.0  NaN              NaN
2             3.0         103      City  150.0  NaN              NaN
3             4.0         101    Resort  110.0  NaN              NaN
0             NaN         101       NaN    NaN   TR             Gold
1             NaN         102       NaN    NaN   DE           Silver
2             NaN         104       NaN    NaN   FR           Bronze
3             NaN         105       NaN    NaN   TR             Gold

-------------------

### Null Values

In [118]:
# Fill missing values with the mean of the column 'money'
cdfs['money'].fillna(cdfs['money'].mean(), inplace=True)

/var/folders/b2/qc1xpbnn1wxdq6xmj3kvxxvw0000gn/T/ipykernel_3634/3229119168.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cdfs['money'].fillna(cdfs['money'].mean(), inplace=True)

In [119]:
# Fill missing values with interpolated values
# interpolate() is a method in pandas that fills missing values with 
# interpolated values based on the values of the surrounding data points.
cdfs.fillna(cdfs['money'].interpolate(), inplace=True)

In [120]:
# Subsetting is important for drop na otherwise 
# it will drop all rows if there is a missing value in any column
cdfs.dropna(subset=["money"], inplace=True)

In [121]:
cdfs[cdfs['money'].notna()].sample(1)

,date,htime,cash_type,card,money,coffee_name,month,section,typeof_customer,milk
1024,2024-07-24,09:54:37,card,ANON-0000-0000-0402,18.12,Espresso,7,cheap,2,no

In [122]:
cdfs[cdfs['card'].isna()]

,date,htime,cash_type,card,money,coffee_name,month,section,typeof_customer,milk
12,2024-03-02,10:30:35,cash,NaN,40.0,Latte,3,expensive,1,no
18,2024-03-03,10:10:43,cash,NaN,40.0,Latte,3,expensive,1,no
41,2024-03-06,12:30:27,cash,NaN,35.0,Americano with Milk,3,expensive,1,no
46,2024-03-07,10:08:58,cash,NaN,40.0,Latte,3,expensive,1,no
49,2024-03-07,11:25:43,cash,NaN,40.0,Latte,3,expensive,1,no
...,...,...,...,...,...,...,...,...,...,...
3893,2025-03-23,14:55:46,cash,NaN,30.0,Cappuccino,3,expensive,1,no
3894,2025-03-23,15:15:36,card,NaN,25.0,Irish whiskey,3,normal,2,no
3895,2025-03-23,17:59:25,card,NaN,28.0,Super chocolate,3,normal,2,no
3896,2025-03-23,18:01:33,card,NaN,28.0,Vanilla with Irish whiskey,3,normal,2,no
3897,2025-03-23,21:23:11,card,NaN,29.0,Coffee with Irish whiskey,3,normal,2,no

#### Quick Filtering

In [123]:
cdfs.loc[
    cdfs['coffee_name'] == 'Americano',
    ['money','cash_type']
    ].count()

money        593
cash_type    593
dtype: int64

In [124]:
cdfs[cdfs['money'] == 25]['coffee_name'].value_counts()

coffee_name
Americano with milk    44
Irish whiskey          21
Americano              15
Espresso                4
Caramel with milk       3
Chocolate               1
Double chocolate        1
Name: count, dtype: int64

In [ ]:
cdfs['milk'] = np.where(
    cdfs['coffee_name'].str.contains('with milk', na=False), 
    'yes',
    'no'
    )

In [126]:
cdfs.loc[:, 'milk'].value_counts()

milk
no     3822
yes      76
Name: count, dtype: int64

In [127]:
pivot_table = cdfs.pivot_table(
    index='coffee_name',        
    columns='section',  
    values='money',    
    aggfunc='mean'      # If there are multiple values for the 
                        # same index and column, use the mean
)

pivot_table.fillna('Not Sold', inplace=True)
pivot_table

/var/folders/b2/qc1xpbnn1wxdq6xmj3kvxxvw0000gn/T/ipykernel_3634/1135055064.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Sold' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  pivot_table.fillna('Not Sold', inplace=True)

section                        cheap  expensive     normal
coffee_name
Americano                   Not Sold       30.0  25.991925
Americano with Milk         Not Sold  31.679203      27.92
Americano with milk         Not Sold   Not Sold       25.0
Cappuccino                  Not Sold  35.810716   Not Sold
Caramel                     Not Sold   Not Sold       22.0
Caramel coffee              Not Sold   Not Sold       28.0
Caramel with Irish whiskey  Not Sold   Not Sold       28.0
Caramel with chocolate      Not Sold   Not Sold       28.0
Caramel with milk           Not Sold   Not Sold       25.0
Chocolate                   Not Sold   Not Sold       25.0
Chocolate with coffee       Not Sold       30.0   Not Sold
Chocolate with milk         Not Sold   Not Sold       27.0
Cocoa                       Not Sold  35.712593   Not Sold
Coffee with Irish whiskey   Not Sold   Not Sold       29.0
Coffee with chocolate       Not Sold   Not Sold       28.0
Cortado                     Not Sold       30.0   25.73122
Double Irish whiskey        Not Sold   Not Sold       28.0
Double chocolate            Not Sold   Not Sold       25.0
Double espresso             Not Sold   Not Sold       27.0
Double espresso with milk   Not Sold       32.0   Not Sold
Double ristretto            Not Sold   Not Sold       27.0
Double vanilla              Not Sold   Not Sold       23.5
Espresso                       18.12       33.0  21.756174
Hot Chocolate               Not Sold  36.072553   Not Sold
Hot milkshake               Not Sold       30.0   Not Sold
Irish whiskey               Not Sold   Not Sold       25.0
Irish whiskey with milk     Not Sold   Not Sold       27.0
Irish with chocolate        Not Sold   Not Sold       27.0
Latte                       Not Sold  35.556203   Not Sold
Mochaccino                  Not Sold       30.0   Not Sold
Super chocolate             Not Sold   Not Sold       28.0
Tea                             15.0   Not Sold   Not Sold
Vanilla coffee              Not Sold   Not Sold       27.0
Vanilla with Irish whiskey  Not Sold   Not Sold       28.0

In [128]:
cdfs_day = cdfs['date'].dt.day

In [129]:
cdfs['day'] = cdfs['date'].dt.day

In [130]:
cdfs['year'] = cdfs['date'].dt.year

### Numpy and Pandas

* np.where() - if else (condition, value if true, value if false)
* np.select() - if elif else (list of conditions, list of values and default value)


* mapping : a = {0: 'zero', 1: 'one', 2: 'two'} | df['column'].map(a)    
* np.log(df['column']), np.exp(df['column']), np.sqrt(df['column'])

### NaN Values - Masking

Conditional :
* a = (df['column_name'].isna()) & (df['column_name2'] == 'value')

* Debugging : missing_all_values = df['column_name'].isna().any(axis=1)

* Targeted Modification : df.loc[a, 'column_name'] = 'value'

---------

.shift(), .rank(), .rolling(), .cumsum(), .diff()

In [131]:
cdfs['money'].diff(1)

0       NaN
1       0.0
2       0.0
3      -9.8
4       9.8
       ...
3893    5.0
3894   -5.0
3895    3.0
3896    0.0
3897    1.0
Name: money, Length: 3898, dtype: float64

In [132]:
a = cdfs.groupby(['month','day','coffee_name', 'year']).agg({
    'money':'sum'}).reset_index()

In [133]:
for a1 in range(1, 12):
  aylık_toplam = a.loc[(a['month'] == a1) & (a['year'] == 2024)]
  toplam_sat = aylık_toplam['money'].sum()
  print(f"{a1}. ay toplam satış: {toplam_sat}")

1. ay toplam satış: 0.0
2. ay toplam satış: 0.0
3. ay toplam satış: 7050.2
4. ay toplam satış: 6720.5599999999995
5. ay toplam satış: 9063.42
6. ay toplam satış: 7758.76
7. ay toplam satış: 6915.9400000000005
8. ay toplam satış: 7613.84
9. ay toplam satış: 9988.64
10. ay toplam satış: 13891.159999999998
11. ay toplam satış: 8590.54

In [134]:
c = cdfs.groupby(['year', 'month']).agg({'money':'mean'}).reset_index()

In [135]:
aylar = list(range(1,12))
c[(c['year'] == 2024)&(c['month'].isin(aylar))].sum()

year     18216.000000
month       63.000000
money      288.624245
dtype: float64

In [136]:
cdfs.select_dtypes(include=['float64']).cumsum()

          money
0         38.70
1         77.40
2        116.10
3        145.00
4        183.70
...         ...
3893  122211.58
3894  122236.58
3895  122264.58
3896  122292.58
3897  122321.58

[3898 rows x 1 columns]